
* {
  font-family: "Pacifico", "Anton", sans-serif, serif, "Short Stack", cursive;

  }

  body {
  max-width: 900px;
  margin: 0 auto;
    }


header {
  height: 90px;
  height: 90px;
  padding-top: 30px;
  padding-bottom: 20px

  }

.fork  {
  display: inline-block;
  float: left;
}

 h1 {
  font-family: "Pacifico";
  font-size: 36px;
  font-style: italic;
  float:left;
  text-align:
}

 h2 {
  font-family: "Pacifico";
  font-size: 25px;
  font-style: italic;
  padding-top: 8px;
}

h3 {
  font-family: "Anton";
  font-size: 13px;
  font-weight: lighter;
  text-align: justify;
  letter-spacing: 2px;
  padding: 5px;
}

.icons {
  float:left;
  margin-right: 5px;
  display:inline-block;
  padding-top: 10px;
  }


.module {
  background: white;
  border: 1px solid #white;
  margin: 3%;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
}

.stripe-2 {
  color: ;
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  )
}

  .icons {
    float:right;
    right: 0px;
    padding: 10px;
  }

  .printer {
    float:right;
    right: 10px;
    padding: 5px;
  }
  .print {
    float:right;
    right: 10px;
    padding: 5px;
  }


  main {
    font-family: serif;
  }

  h4 {
    font-family: "Anton";
    font-size: 35px;
padding-bottom: 50px;
  }

  h5 {
    font-family: "Anton";
    font-size: 15px;
    color: lightgray;
    padding-top: 5px;
   }

  .repeating-linear {
  background: repeating-linear-gradient(-45deg, red, red 5px, blue 5px, blue 10px);
}


p.fig {
  margin: 30px 0;
  text-indent: 30px;
  color: #555;
  font-size: 20px;
  line-height: 25px;
}

.article {
  position:relative;
}


.shop-list{
  width: 900px;
  height: 300px;
  background-image: url(assets/list-bg.png);
  position: relative;
  margin-bottom: 50px;
  font-family: "Short Stack";

}

.list-left{
  width:350px;
  float: left;
  margin: 45px 40px 0px 50px;
  }

.list-right {
    width:350px;
    float: left;
    margin:45px 40px 0px 50px;
  }

  .shop-list div div {
    margin-bottom: 11px;
  }

  label {
    font-size: 20px;
    color: #444;
  }

  input[type=checkbox]:checked + label {
    color:gray;
    text-decoration: line-through;
    } /*This is the MDN spec for doing this*/

.bio-pic {
  float: left;
  width: 925px;
  margin-bottom: 70px;
}

.van {
  float:left;
  margin-right: 20px;
}

.her-name {
  font-family: "serif";
  font-size: 20px;
  font-weight: bold;

}

.info {
  font-family: "sans-serif";
  font-size: 20px;
  text-indent: 0px;
  max-width:600;
 }

 .button {
   float: right;
   padding: 10px 20px;
   background-color: #A5682A;
   font-family: sans-serif;
   color: #fff ;
   text-align: center;
 }

   .gray-fork:before {
     content: " ";
     border-bottom: 1px solid lightgray;
     position: absolute;
     width:475px;
     margin-top: 10px;
     margin-left: 20px;
   }

  .gray-fork {
 position: absolute;
 width: 30px;
 left:900px;
 margin-top: 125px;
 margin-bottom: 50px;
 padding:25px;
  }

  .gray-fork:after {
    content: " ";
    border-bottom: 1px solid lightgray;
    position: float;
    width:475px;
    margin-top: 10px;
    margin-right: 50px;
    }


    footer {
      clear: both;
      height: 100px;
      text-align: center;
      font-family: Georgia, serif;
      font-size: 10px;
      color: #c9c9c9;
      margin-top: 20px;
    }
    footer div.footerPart1 {
      display: inline-block;
      float: left;
      width: 423px;
      border-bottom: 1px #eaeaea solid;
      padding-top: 15px;
    }
    footer img {
      display: inline;
      margin: 0px 6px 0px 10px;
    }
    footer div.footerPart2 {
      display: inline-block;
      float: right;
      width: 423px;
      border-bottom: 1px #eaeaea solid;
      padding-top: 15px;
    }
    footer p.footerText{
      margin-top: 25px;
    }
    footer p {
      margin: 6px;
    }
